.carousel {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  width: 80%;
  height: 300px;
}

.carousel .slide {
  background-color: gainsboro;
  height: 50vh;
}

.carousel .slide img {
  max-height: 100%;
  width: 100%;
  justify-content: center;
}

.image {
  margin: 0;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 300px;
  }
  .carousel .slide {
    height: 50vh;
  }
  .carousel .slide img {
    max-height: 100%;
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel {
    height: 250px;
  }
  .carousel .slide {
    height: 50vh;
  }
  .carousel .slide img {
    max-height: 300px;
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .carousel {
    height: 200px;
  }
  .carousel .slide {
    height: 45vh;
  }
  .carousel .slide img {
    max-height: 300px;
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .carousel {
    height: 200px;
  }
  .carousel .slide {
    height: 50vh;
  }
  .carousel .slide img {
    max-height: 300px;
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .carousel {
    height: 200px;
  }
  .carousel .slide {
    height: 50vh;
  }
  .carousel .slide img {
    max-height: 300px;
    width: 100%;
  }
  .image {
    height: 100%;
    width: 100%;
  }
}
