.centercontent__membership {
  background-color: wheat;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  padding: 30px;
  height: 240vh;
  margin: 10px;
  flex: 0.8;
}

.form {
  height: 230vh !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid green;
}

.form > h1 {
  margin-bottom: 10px;
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 2px;
  border: 1px solid lightgray;
  /* border: none; */
  background: wheat;
  font-size: 12px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.form > button {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: #0000c4;
}
