.HistoryofRotaryclubinKenya__rotary {
  display: flex;
  flex-direction: column;
}

.HistoryofRotaryclubinKenya__heading > h1 {
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #005daa !important;
  text-align: left;
}

.HistoryofRotaryclubinKenya__contentbody {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
<<<<<<< HEAD

@media screen and (max-width: 820px) {
  .HistoryofRotaryclubinKenya__contentbody {
    flex-direction: column;
    padding: 20px;
  }
}
=======
>>>>>>> 67367879687a409480ec139f3c9f57d558bca8b8
