.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
}
.app__body {
  display: flex;
  margin: 20px;
  max-width: 1200px;
}

@media screen and (max-width: 820px) {
  .app__body {
    flex-direction: column;
  }
}
