.projectandPartners {
  display: flex;
  flex-direction: column;
  background-color: wheat;
}

.projectandPartners__heading > h1 {
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 1px;
  color: #005daa !important;
  text-align: left;
}

.projectandPartners__contentbody {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 820px) {
  .projectSelection__heading > h1 {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
    color: red !important;
    text-align: left;
  }

  .projectSelection__contentbody {
    flex-direction: column;
  }
}
