<<<<<<< HEAD
/* .Kaimosirotaryserviceprojects__rotary {
=======
<<<<<<< HEAD
/* .Kaimosirotaryserviceprojects__rotary {
=======
.Whatdoesrotarydo {
>>>>>>> 67367879687a409480ec139f3c9f57d558bca8b8
>>>>>>> 75092581f78fb7497b59c077c01af56b71ff23f5
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
.Kaimosirotaryserviceprojects__heading > h1 {
=======
<<<<<<< HEAD
.Kaimosirotaryserviceprojects__heading > h1 {
=======
.headinhg__Watdoesrotarydo > h1 {
>>>>>>> 67367879687a409480ec139f3c9f57d558bca8b8
>>>>>>> 75092581f78fb7497b59c077c01af56b71ff23f5
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #005daa !important;
  text-align: left;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 75092581f78fb7497b59c077c01af56b71ff23f5
.Kaimosirotaryserviceprojects__contentbody {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
} */

.Kaimosirotaryserviceprojects__rotary {
  display: flex;
  flex-direction: column;
}

.Kaimosirotaryserviceprojects__heading > h1 {
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #005daa !important;
  text-align: left;
}

.Kaimosirotaryserviceprojects__contentbody {
<<<<<<< HEAD
=======
=======
.contentbody__Whatdoesrotarydo {
>>>>>>> 67367879687a409480ec139f3c9f57d558bca8b8
>>>>>>> 75092581f78fb7497b59c077c01af56b71ff23f5
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
